@keyframes slideInFromLeft {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
}

body::-webkit-scrollbar {
    display: none;
}

body
{
    animation: 0.5s ease-out 0s 1 slideInFromLeft;
    background-color: #33595e;
    width: 98%;
    height: 98%;
    pointer-events: auto;
}

.slideshow
{
    display: none;
    width: 210px;
    height: 297px;
    box-shadow: 0 0 5px black;
}

.slideshow {
    display: none
}

img {
    vertical-align: middle;
    width: 100%;
}

.slideshow-container {
    max-width: 210px;
    position: relative;
    margin: auto;
}

.slideshow-container :first-child{
    display: block;
    width: 210px;
    height: 297px;
    box-shadow: 0 0 5px black;
}

.prev-document-button, .next-document-button {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 8px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius:  3px 3px 3px 3px;
    user-select: none;
}

.prev-document-button
{
    left: -50px;
}
.next-document-button {
    right: -50;
    border-radius: 3px 3px 3px 3px;
}
  
.prev-document-button:hover, .next-document-button:hover {
    background-color: #f1f1f1;
    color: black;
}

.title{
    color:#fbf1dc;
    font-size: 80px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.download-doc{
    background-color: #373b41;
    color:#fbf1dc;
    margin: 0 auto;
    margin-top: 30px;
    display: block;
    width: 200px;
    height: 50px;
    font-size: 24px;
    border-radius: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.download-doc:hover span
{
    font-size: 0px;
    opacity: 0;
    transition: font-size 0.3s ease;
}

.download-doc:not(:hover) span
{
    font-size: 24px;
    opacity: 100;
    transition: font-size 0.3s ease;
}