@import url(colors.css);

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

body::-webkit-scrollbar {
    display: none;
}

body {
    animation: 0.5s ease-out 0s 1 slideInFromTop;
    background-color: var(--background-color1);
    width: 98%;
    height: 98%;
    pointer-events: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.title {
    color: var(--background-color5);
    font-size: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 40px;
    text-align: center;
}

.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.game-container img {
    width:200px;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
    box-shadow: 0 0 10px black;
    border-radius: 15px;
}

.game-container img:hover {
    transform: scale(1.05);
}
