html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

main {
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
    margin: 0;
}

.page-frame {
    position: relative;
    width: 100%;
    min-height: 100%;
    box-sizing: border-box;
    border: 0;
    overflow: hidden; /* Prevent scrolling inside the iframe */
}

.row {
    display: flex; /* Arrange children in a row */
}

.team-logo {
    width: 70px;
    height: 70px;
    margin: 15px;
    padding-right: 50px;
    border-right: 2px solid white;
}

.team-name {
    padding-left: 25px;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #fdf1dd;
}

header {
    background-color: #5BB3BD;
    align-items: center;
    padding-left: 30px;
    height: 80px;
    box-shadow: 0, 20px, 3px, black;
}

body {
    background-color: #33595e;
    overflow: hidden; /* Hide the scrollbar */
}

.menu {
    right: 0;
    height: 100vh; /* Fixed height */
    position: absolute;
    flex-direction: column;
    align-items: end;
    width: fit-content;
}

/* Hide the default checkbox */
.page-menu-button {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
}

/* Style the custom toggle button */
.menu-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-size: 20px;
    background: #373b41;
    color: #fdf1dd;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 10px;
    transition: transform 0.5s ease-out; /* Smooth button animation */
}

.menulist {
    transform: translateX(100%); /* Start off-screen */
    opacity: 0;
    transition: transform 0.5s ease-out, opacity 0.3s ease-out; /* Smooth menu animation */
    padding-inline-start: 0;
    width: 136px;
    height: 100%;
    margin-top: 0;
    list-style-type: none;
    background-color: #448a92;
}

.page-menu-button:checked ~ .menulist {
    transform: translateX(0%); /* Slide in */
    opacity: 1;
}

.menu-toggle
{
    position: absolute;
    right: 0;
    transform: translateX(0%);
    transition: transform 0.5s ease-out, opacity 0.3s ease-out;
}

.page-menu-button:checked ~ .menu-toggle {
    transform: translateX(-140px); /* Slide in */
}

.menu-item {
    text-align: left;
    width: 100%;
    height: 50px;
    margin-left: 0;
    background-color: transparent;
    border: none;
    margin-top: 2px;
    margin-bottom: 2px;
    border-top: 1px solid #fdf1dd;
    border-bottom: 1px solid #fdf1dd;
    color: white;
    transition: all 0.3s ease; /* Smooth hover effect */
}

.menu-item:hover {
    background-color: #373b41;
    color: white;
}

.menu-item:hover iconify-icon {
    font-size: 24px;
    transition: all 0.3s ease;
}

.menu-item:not(:hover) iconify-icon {
    font-size: 20px;
    transition: all 0.3s ease;
}

.menulist li:first-child {
    margin-top: 0px;
}

footer {
    background-color: #5BB3BD;
    height: 30px;
    align-content: center;
    padding-left: 20px;
    box-shadow: 0, -20px, 3px, black;
    z-index: 10000;
}